<footer class="nga-footer">
  <div class="nga-hint">
    <div class="container">
      <div class="row p-4">
      </div>
    </div>
  </div>
  <div class="container py-5 text-center text-lg-start">
    <div class="row">
      <div class="col-12 col-lg-5 mb-3">
        <h2 class="h5"><img class="mb-1 me-1" src="./assets/params/images/logo/ganatan-logo.png" srcset="./assets/params/images/logo/ganatan-logo.png,
          ./assets/params/images/logo/ganatan-logo@2x.png 2x" width="25" height="25" alt="Logo Ganatan">E-Garage</h2>
        <hr class="text-white mb-4 mt-0 d-inline-block " style="width: 120px;">
      </div>
      
    </div>
  </div>
  <div class="py-3 text-center" style="background-color: black;">
    <div class="container">
      RAKOTONAIVO Ambinintsoa-RAKOTOSATA Manoa Langaraka
    </div>
  </div>
</footer>